.header_area{
  position:fixed;
  z-index:5000;
  top:0px;
  left:0px;
  right:0px;
  background-color: $booking-color-bg118;

  .place_header{
    display:flex;
    align-items: center;
    justify-content: space-between;

    .title{
      width:63%;
      font-size:20px;
      color: #fff;
    }

    .order_list_btn{
      font-size:15px;
      color: #fff;
      font-weight:800;
      padding:0 18px;
    }
  }

  .place_tab{
    background-color: $booking-color-border120;
    padding:0 8px;
    .tab_inner{
      display: flex;
      height:45px;
      color:#fff;
      
      .tab{
        flex:1;
        padding:0 12px;
        display:flex;
        align-items: center;
      }

      .txt{
        padding:13px 3px 12px;
        text-align: center;
      }
    }
  }
}
