.menu_list_area{

  &:not(.new):not(.popular){
    margin-top:10px;
    .menu_list_inner{
      .category_menu{
        padding:28px 18px 0px;
      }
    }
  }

  &.popular {
    .menu_list_inner{
      .category_menu{
        justify-content: flex-start;
        align-items: center;
        .period{
          letter-spacing: -0.3px;
          color: $booking-color-text4;
          font-size:14px;

          .ico-period{
            margin-right:5px;
          }

          &::before{
            content:'';
            display: inline-block;
            width: 4px;
            height:4px;
            border-radius: 100%;
            background-color: #ededed;
            margin:0 8px;
            vertical-align: middle;
          }
        }
      }
      .badge_popular{
        display: inline-block;
        color: #fff;
        border-radius: 10px;
        font-size: 11px;
        padding: 0 5px;
        line-height: 16px;
        font-weight: bold;
        background-color: #ff61a7;
        margin:0 0 3px 3px;
      }
    }
  }

  &.new{
    border-bottom: 1px solid $booking-color-border144;
  }

  &.is_closed{

    .menu_list_inner{
      .menu_list{
        display:none;
      }
    }

    &+.is_closed{
      margin-top:0px;
      border-top: 1px solid $booking-color-border144;
    }

    .menu_list_inner{
      padding-bottom:28px;
      .category_menu{
        .btn-toggle{
          .ico-arrow{
            transform: rotate(180deg);
          }
        }
      }
    }

    
  }

  .menu_list_inner{
    background: #fff;

    .category_menu{
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      padding: 10px 18px 0px;
      font-family: NanumSquareEB, 'Apple SD Gothic Neo', Helvetica Nenu, Helvetica, sans-serif;
      font-weight:bold;
      color: #333;
    }
    .menu_list{
      .menu_item{
        position:relative;
        display: flex;
        padding: 0 18px;

        &:not(:last-child){
          border-bottom: 1px solid $booking-color-border144;
        }

        .info_link{
          display: flex;
          padding: 18px 0px;
          margin-right:60px;

          .menu_img{
            width: 100px;
            height:110px;
            background-color: $booking-color-bg149;
            margin-right:10px;
            border-radius: 5px;
          }

          .info_detail{

            .menu_title {
              display: flex;
              align-items: center;
              letter-spacing: -0.3px;
              .title {
                font-weight:bold;
                font-size:17px;
              }

              .new_icon{
                width: 16px;
                margin:0px 0px 4px 4px;
              }
            }

            .detail{
              display: flex;
              margin-top:4px;
              font-size: 14px;
              align-items: center;
              .detail_order{
                color: $booking-color-text5;
  
                .num{
                  color: #000;
                  font-weight:bold;
                }

            }
              .menu_grade{
                display: flex;
                align-items: center;
                padding-bottom:1px;
                font-weight:bold;

                &:after{
                  content: '';
                  display: inline-block;
                  width: 2px;
                  height: 12px;
                  background-color: $booking-color-bg149;
                  margin:0 6px;
                }
              }
            }
          }
        }

        .btn_box{
          width: 40px;
          height:40px;
          border: 1px solid $booking-color-border150;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          position: absolute;
          top:50%;
          right: 20px;
          transform:  translateY(-20px);
        }
      }
    }
  }
}

.detail_txt {
  color: $booking-color-text5;
  letter-spacing: -0.4px;
  @include multi-ellipsis(14px,19px,2);
}