.recent_order_area{
  display:flex;
  padding:20px 18px;
  height:100%;

  .recent_menu_list{
    display:flex;
    background-color: #fff;
  }

  .recent_menu_item{
    display:flex;
    flex-direction: column;

    .recent_menu_image{
      width:80px;
      height:80px;
    }
  }

  .recent_order_title{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size:12px;
    background-color: #fff;
    border-right: 1px solid $booking-color-bg102;
    line-height:1.42;

    .ico-clock{
      margin-bottom: 5px;
    }

    .recent_order_content{
      text-align: center;
    }
  }

  .recent_menu_area {

    background-color: #fff;

    .recent_menu_list{

      .recent_menu_item{
        width: 80px;
        box-sizing: content-box;
        padding:10px 0px 10px 16px;
        position: relative;

        .recent_menu_image{
          border-radius: 100%;
        }
        
        .menu_title{
          font-size:14px;
          text-align:end;
          @include ellipse;
        }

        .ico_cart {
          position: absolute;
          width: 20px;
          height:20px;
          padding:3px;
          background-color: #F7FAF5;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 100%;
          top: 65px;
          left: 80px;
        }

        .pop_item{
          position:absolute;
          font-size:10px;
          color: #fff;
          background-color: #E172AE;
          border-radius:15px;
          font-weight: 600;
          padding:2px 5px 2px 5px;
        }

        .menu_price{
          text-align:end;
          color: red;
          font-weight: 600;
          font-size :11px;
          @include ellipse;
        }

        &.is_orderd{
          padding-right:16px;
          border:1px solid $booking-color-bg102;
        }

        &:last-child{
          padding-right:16px;
        }
      }
    }
  }
}

