body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.bg-dimm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.local-order-popup {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 32px 0 40px;
  border-radius: 15px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.local-order-popup .title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.local-order-popup .type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.local-order-popup .type-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.local-order-popup .type-item + .type-item {
  border-left: 1px solid #e2e5e8;
}

.local-order-popup .type-item .icon {
  width: 95px;
  height: 100px;
}

.local-order-popup .type-item .desc {
  font-size: 15px;
  margin-top: 8px;
  line-height: 1.5;
  font-weight: 600;
  color: #000;
}

.local-order-popup .type-item .btn-selection {
  display: inline-block;
  background-color: #424242;
  padding: 6px 18px;
  border-radius: 28px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
}

.header_area {
  position: fixed;
  z-index: 5000;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #03c75a;
}

.header_area .place_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
}

.header_area .place_header .title {
  font-size: 20px;
  margin-right: 90px;
  white-space: nowrap;
  color: #fff;
}

.header_area .place_header .order_list_btn {
  white-space: nowrap;
  font-size: 15px;
  color: #fff;
  font-weight: 800;
  padding: 0 18px;
}

.header_area .place_tab {
  background-color: #03b753;
  height: 46px;
}

.header_area .place_tab .tab_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 8px;
  height: 45px;
  color: #fff;
}

.header_area .place_tab .tab_inner .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
  font-weight: 600;
}

.header_area .place_tab .tab_inner .tab.is_active {
  font-weight: 700;
  opacity: 1;
}

.header_area .place_tab .tab_inner .tab.is_active .txt::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
}

.header_area .place_tab .tab_inner .txt {
  position: relative;
  padding: 13px 3px 12px;
}

.info_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 18px 20px;
  background-color: #d9e8f0;
}

.info_main .title {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
}

.info_main .ico-n-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.info_main .tab_switch_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
}

.info_main .tab_switch_box .tab_switch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px 0px 7px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 600;
  background-color: #cbdeed;
}

.info_main .tab_switch_box .tab_switch.is_active {
  padding: 11px 0px 8px;
  height: 45px;
  margin: -3px 0px;
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
  font-size: 15px;
  font-weight: 700;
}

.info_main .tab_switch_box .tab_switch.is_active::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  background-color: #fff;
}

.info_main .tab_switch_box .icon {
  margin: 0px 5px 2px 0px;
}

.info_main .tab_switch_box .check_icon {
  margin-left: 5px;
}

.info_main .notice_desc {
  background-color: #fff;
  margin-top: 16px;
  padding: 13px 15px 11px;
  font-size: 14px;
  color: #fc4c4e;
  font-weight: bold;
}

.info_main .notice_desc .hours {
  color: #000;
  font-weight: 400;
}

.info_main .notice_desc .icon {
  margin-right: 3px;
}
